<!DOCTYPE html>
<html>
  <head>
    <title>Scholarly</title>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{{ url_for('static', filename='index.css') }}" rel="stylesheet">
    <script src="{{ url_for('static', filename='jquery-3.5.1.js') }}"></script>
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </head>
  <body class="w3-mobile" onload="onLoad();">
    <div class="w3-bar w3-white w3-card-4" style="width: 100%; margin: 0; position: fixed; z-index: 9;">
      <img src="/static/logo.png" class="w3-padding" height="48em;" />
      <!--<p>Front & back end developed by <a class="w3-text-blue w3-hover-text-deep-purple" style="text-decoration: none; display: inline;" href="https://colourdelete.gitlab.io">Ken Shibata</a> and others. Page generated on {{ nowtime.isoformat() }}</p>-->
      <input
        id="page-navbar-search"
        placeholder="Search"
        class="w3-container w3-light-grey w3-hover-shadow w3-round-large w3-rest"
        style="margin: 0.5em; border: 0;">
      <a onclick="jumpToPage('signin')" class="w3-bar-item w3-btn w3-round-large w3-right" style="margin: 0.5em;">
        <span style="font-size: 0.9em;" class="material-icons">exit_to_app</span>
      </a>
      <a onclick="jumpToPage('chat')" class="w3-bar-item w3-btn w3-round-large w3-right" style="margin: 0.5em;">
        <span style="font-size: 0.9em;" class="material-icons">chat</span>
      </a>
      <a onclick="jumpToPage('explore')" class="w3-bar-item w3-btn w3-round-large w3-right" style="margin: 0.5em;">
        <span style="font-size: 0.9em;" class="material-icons">explore</span>
      </a>
      <a onclick="jumpToPage('feed')" class="w3-bar-item w3-btn w3-round-large w3-right" style="margin: 0.5em;">
        <span style="font-size: 0.9em;" class="material-icons">amp_stories</span>
      </a>
      <a onclick="jumpToPage('learn')" class="w3-bar-item w3-btn w3-round-large w3-right" style="margin: 0.5em;">
        <span style="font-size: 0.9em;" class="material-icons">school</span>
      </a>
      <a onclick="jumpToPage('dashboard')" class="w3-bar-item w3-btn w3-round-large w3-right" style="margin: 0.5em;">
        <span style="font-size: 0.9em;" class="material-icons">home</span>
      </a>
    </div>
      <img id="page-signin-bg" src="/static/bg.svg" class="w3-display-bottomright w3-half">
      <h1>Scholarly</h1>
      <div id="pages">
        <div id="page-signin" class="w3-display-middle">
          <h1>Signin</h1>
          <form>
            <input
              id="page-signin-username"
              placeholder="Username"
              class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding"
              style="margin: 0.5em; border: 0;"> <br />
            <input
              type="password"
              id="page-signin-password"
              placeholder="Password"
              class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding"
              style="margin: 0.5em; border: 0;"> <br />
            <button
              type="button"
              onclick="jumpToPage('dashboard');"
              class="w3-container w3-border w3-hover-shadow w3-round-large w3-padding"
              style="margin: 0.5em; border: 0;">Signin</button>
          </form>
          <p id="page-signin-status"></p>
        </div>
        <div id="page-dashboard">
          <h1>Dashboard</h1>
          <div class="w3-row">
            <div class="w3-quarter">
              <img src="/static/person.svg" style="width: 10em; display: inline-block;">
            </div>
            <div class="w3-rest">
              <h1 class="w3-rest" style="display: inline-block;">
                Welcome back, Luna Morrison!
              </h1>
              <div class="w3-row">
                <p class="w3-quarter">
                  <b>3486</b> followers
                </p>
                <p class="w3-quarter">
                  <b>9028</b> upvotes
                </p>
                <p class="w3-quarter">
                  <b>29</b> contributions
                </p>
              </div>
              <div class="w3-row">
                <span style="font-size: 0.9em;" class="material-icons w3-red w3-padding w3-round-large">whatshot</span>
                <span style="font-size: 0.9em;" class="material-icons w3-blue w3-padding w3-round-large">school</span>
                <span style="font-size: 0.9em;" class="material-icons w3-green w3-padding w3-round-large">book</span>
                <p class="w3-quarter">
                  <b>29</b> badges earned
                </p>
              </div>
            </div>
<!--            <div class="w3-row">-->
<!--              <div class="w3-card-4 w3-round-large w3-margin w3-padding w3-container w3-half">-->
<!--                <h2>Feed</h2>-->
<!--                <div class="w3-hover-shadow w3-round-large w3-border w3-padding w3-margin w3-container">-->
<!--                  <h3>Growth</h3>-->
<!--                  <p>You’ve learned <b>10 new skills</b> this month. Let's keep it going!</p>-->
<!--                </div>-->
<!--                <div class="w3-hover-shadow w3-round-large w3-border w3-padding w3-margin w3-container">-->
<!--                  <h3>Outreach</h3>-->
<!--                  <p>You've reached <b>262 new people</b> this month. Let's keep it going!</p>-->
<!--                </div>-->
<!--              </div>-->
<!--              <div class="w3-card-4 w3-round-large w3-margin w3-padding w3-container w3-half">-->
<!--                <h2>Analytics</h2>-->
<!--                <div class="w3-hover-shadow w3-round-large w3-border w3-padding w3-margin w3-container">-->
<!--                  <h3>Growth</h3>-->
<!--                  <p>You’ve learned <b>10 new skills</b> this month. Let's keep it going!</p>-->
<!--                </div>-->
<!--                <div class="w3-hover-shadow w3-round-large w3-border w3-padding w3-margin w3-container">-->
<!--                  <h3>Outreach</h3>-->
<!--                  <p>You've reached <b>262 new people</b> this month. Let's keep it going!</p>-->
<!--                </div>-->
<!--              </div>-->
<!--            </div>-->
          </div>
          <div class="w3-row">
            {% for i in range(6) %}
            <div class="w3-quarter w3-padding">
              <img src="/static/photos/{{ i }}.png" style="width: 100%;" class="w3-round-large">
              <p style="height: 10em; overflow: auto;">{{ captions[i+2] }}</p>
            </div>
            {% endfor %}
          </div>
          <div class="w3-container w3-card-4 w3-round-large w3-padding-16" style="margin: 0.5em;">
            stuff (just keeping this so I can easily copy it when I need it)
          </div>
        </div>
        <div id="page-feed">
          <h1>My Feed</h1>
          <div class="w3-content">
            {% for i in range(2) %}
            <div>
              <div class="w3-display-container">
                <img src="/static/photos/{{ i }}.png" class="w3-round-large">
              </div>
              <div class="w3-row w3-padding">
                <img src="/static/persons/{{ i }}.png" class="w3-circle" style="width: 4em; display: inline-block; height: 4em; object-fit: cover;">
                <p class="w3-large" style="display: inline-block;">{{ persons[i] }}</p>
                <p class="w3-medium" style="display: inline-block;">08/16/2020 22:14</p>
                <span class="w3-tag w3-round-large w3-orange w3-center">{{ ['suggestions']|random }}</span>
                <p>{{ captions[i] }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
        <div id="page-explore">
          <h1>Explore</h1>
          <div class="w3-row">
            {% for i in range(6) %}
            <div class="w3-third w3-padding">
              <div class="w3-row w3-padding">
                <img src="/static/persons/{{ i }}.png" class="w3-circle" style="width: 4em; display: inline-block; height: 4em; object-fit: cover;">
                <p class="w3-medium" style="display: inline-block;">{{ persons[i] }}</p>
              </div>
              <div class="w3-display-container">
                <img src="/static/photos/{{ i }}.png" style="width: 100%;" class="w3-round-large">
                <div class="w3-display-bottommiddle w3-container w3-light-grey w3-round-large w3-opacity w3-hover-opacity-off" style="width: 100%;">
                  <span style="font-size: 2em;" class="material-icons w3-padding w3-left">favorite_border</span>
                  <span style="font-size: 2em;" class="material-icons w3-padding w3-left">chat_bubble_outline</span>
                  <span style="font-size: 2em;" class="material-icons w3-padding w3-right">get_app</span>
                </div>
              </div>
              <p style="height: 10em; overflow: auto">{{ captions[i+2] }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div id="page-learn">
          <h1>Learn</h1>
          <h2>Courses You're Teaching</h2>
          <div class="w3-row" style="overflow-y: hidden; overflow-x: auto;">
            {% for i in range(3) %}
            <div class="w3-display-container w3-quarter w3-padding">
              <img src="/static/photos/{{ i }}.png" style="width: 100%;" class="w3-round-large">
              <span style="font-size: 2em;" class="material-icons w3-display-topright w3-opacity-max w3-hover-opacity-off w3-padding">cancel</span>
              <p><b>{{ courses[i] }}</b></p>
              <p>Unit {{ [i+1, i+2, i+3]|random }} Lesson {{ [i+1, i+2, i+3]|random }}</p>
            </div>
            {% endfor %}
          </div>
          <h2>Courses You're Enrolled In</h2>
          <div class="w3-row" style="overflow-y: hidden; overflow-x: auto;">
            {% for i in range(4) %}
            <div class="w3-display-container w3-quarter w3-padding">
              <img src="/static/photos/{{ i+4 }}.png" style="width: 100%;" class="w3-round-large">
              <span style="font-size: 2em;" class="material-icons w3-display-topright w3-opacity-max w3-hover-opacity-off w3-padding">cancel</span>
              <p><b>{{ courses[i+3] }}</b></p>
              <p>Unit {{ [i+1, i+2, i+3]|random }} Lesson {{ [i+1, i+2, i+3]|random }}</p>
            </div>
            {% endfor %}
          </div>
          <h2>Recommended Courses</h2>
          <div class="w3-row" style="overflow-y: hidden; overflow-x: auto;">
            {% for i in range(4) %}
            <div class="w3-display-container w3-quarter w3-padding">
              <img src="/static/photos/{{ i+8 }}.png" style="width: 100%;" class="w3-round-large">
              <span style="font-size: 2em;" class="material-icons w3-display-topright w3-opacity-max w3-hover-opacity-off w3-padding">cancel</span>
              <p><b>{{ courses[i+7] }}</b></p>
              <p>Unit {{ [i+1, i+2, i+3]|random }} Lesson {{ [i+1, i+2, i+3]|random }}</p>
            </div>
            {% endfor %}
          </div>
        </div>
        <div id="page-chat" class="w3-content">
          <div class="w3-quarter">
            <ul class="w3-ul">
              {% for i in range(6) %}
              <li class="w3-display-container{% if i == 0 %} w3-light-grey{% endif %}">
                {{ chat_topics[i] }}
                <span style="font-size: 2em;" class="material-icons w3-display-right w3-opacity-max w3-hover-opacity-off w3-padding">cancel</span>
              </li>
              {% endfor %}
            </ul>
          </div>
          <div class="w3-rest" style="height: 100%;">
            <div style="overflow-y: scroll; height: 100%;">
              <ul class="w3-ul">
                {% for i in range(3) %}
                <li class="w3-display-container">
                  <img src="/static/persons/{{ i }}.png" class="w3-circle" style="width: 2em; display: inline-block; height: 2em; object-fit: cover;">
                  <span style="display: inline-block;"><b>{{ persons[i] }}</b> 10 minutes ago</span>
                  <p>{{ chat_msgs[i] }}</p>
                </li>
                {% endfor %}
              </ul>
            </div>
            <div class="w3-display-bottom w3-container w3-light-grey w3-hover-shadow w3-round-large" style="width: 100%;">
              <textarea
                id="page-chat-msg"r
                placeholder="Message {{ chat_topics[0] }}..."
                class="w3-light-grey"
                style="margin: 0; padding: 0; border: 0; height: 2em; width: 100%;"></textarea>
              <div style="width: 100%; height: 2em;">
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off">quickreply</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off">format_bold</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off">format_italic</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off">code</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off">link</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off">format_list_numbered</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off">format_list_bulleted</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off">format_quote</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off w3-right">send</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off w3-right">attach_file</span>
                <span style="font-size: 1.5em;" class="material-icons w3-opacity-max w3-hover-opacity-off w3-right">insert_emoticon</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <div class="w3-display-bottomright w3-margin-right" style="max-width: 25%;">
      {% for category, message in messages %}
        {% if category == 'error' %}
          {% set message_border = 'w3-border-red' %}
        {% elif category == 'info' %}
          {% set message_border = 'w3-border-blue' %}
        {% elif category == 'warning' %}
          {% set message_border = 'w3-border-orange' %}
        {% elif category == 'ok' %}
          {% set message_border = 'w3-border-green' %}
        {% elif category == 'debug' %}
          {% set message_border = 'w3-border-brown' %}
        {% else %}
          {% set message_border = 'w3-border-white' %}
        {% endif %}
        {% if category == 'error' %}
          {% set message_icon = 'error' %}
        {% elif category == 'info' %}
          {% set message_icon = 'info' %}
        {% elif category == 'warning' %}
          {% set message_icon = 'warning' %}
        {% elif category == 'ok' %}
          {% set message_icon = 'check_circle' %}
        {% elif category == 'debug' %}
          {% set message_icon = 'bug_report' %}
        {% else %}
          {% set message_icon = 'message' %}
        {% endif %}
        <div class="w3-panel w3-card-4 w3-margin-top w3-round-large w3-light-grey w3-leftbar w3-animate-right {{ message_border }}" style="transition: 0.5s;" onclick="this.style.display='none'">
          {# <p>{{ category.title() }}: {{ message }}</p> #}
          <p><span class="material-icons">{{ message_icon }}</span> {{ message }}<br><i style="font-size: 0.5em;">Click notification to dismiss</i></p>
        </div>
      {% endfor %}
      </div>
    {% endif %}
  {% endwith %}
  </body>
</html>
